* {
  --primary-color: #300a5c;
  --secondary-color: #e42cdb;
  --tertiary-color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

header {
  font-size: 15px;
  display: flex;
  flex-wrap: nowrap;
}

#scores {
  margin: auto;
  flex: 1;
  text-align: left;
  color: var(--secondary-color);
  padding-right: 1050px;
}

.clock {
  flex: 1;
  margin: auto;
  text-align: right;
  padding-right: 2px;  
}

h1 {
  font-size: 28px;
  font-weight: bolder;
  margin: 100px auto 10px;
  text-align: center;
}


/* quiz questions header */
.quiz-header {
  margin: 100px 260px 10px 380px;
  text-align: left;} 

/* instructions */
main p  {
  font-size: 14px;
  font-weight: bold;
  margin: 10px 300px;
  padding: 0 20px;
  text-align: center;
}

/* answer buttons */
.btn-box {
  display: flex;
  flex-wrap: wrap;
}

.start-btn, .submit-btn, .quiz-btn {
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  font-weight: lighter;
  font-size: 14px;
  line-height: 22px;
  padding: 5px 15px;
  margin: 2px auto 2px 380px;
  text-align: center;
  cursor: pointer;
}

.start-btn, .submit-btn {
  margin: auto;
}

.quiz-btn:active, .quiz-btn:hover, 
.start-btn:active, .start-btn:hover,
.submit-btn:active, .submit-btn:hover {
  background-color: var(--secondary-color);
}

.answer-box {
  margin: 30px 260px auto 385px;
  font-size: 28px;
  font-style: italic;
  padding: 10px;
  color: gray;
  text-align: left;
  border-top: solid 2px;
}

  @media (max-width: 690px), (max-width: 900px) { 
    
    #scores {
      margin: auto;
      display: block;
      text-align: left;
      color: var(--secondary-color);
      padding-right: 1px;
    }
    
    .clock {
      display: block;
      margin: auto;
      text-align: left;
      padding-left: 6px;  
    }
    
  h1 {
    font-size: 20px;
    margin: auto;
    }

  .quiz-header {
    font-size: 20px;
    margin: auto;
  }

  main p {
    font-size: 15px;
    margin: auto;
  }

  .answer-box {
    margin: auto;
    font-size: 20px;
  }

  .start-btn, .submit-btn, .quiz-btn {
      font-size: 1rem;
      margin: 2px auto 2px auto;
      text-align: center;
      padding: 10px 15px;
    }
  }
